<template>
  <div class="change_item_wrapper">
    <div v-if="item">
      <div class="first_line">
        <div>
          Порядковый номер - {{item.number}}
        </div>
        <div>
          <input type="checkbox" v-model="item.status">
          <label>Статус</label>
        </div>
        <div>
          <input type="date" v-model="item.date">
        </div>
      </div>
      <div class="name">
        <input placeholder="Название" v-model="item.name">
      </div>
      <div class="todoBlock" v-for="(todo, index) in item.todo" :key="index">
        <div>№{{index+1}}</div>
        <div v-if="todo" class="description">
          <textarea placeholder="Описание" rows="3" cols="60" v-model="todo.description"></textarea>
        </div>
        <div>
          <input v-if="todo" type="checkbox" v-model="todo.status">
          <label>Статус</label>
        </div>
        <div>
          <button @click="removeTodoItem(index)">Удалить</button>
        </div>
      </div>
      <div>
        <button @click="addItemTodo()">Добавить пункт</button>
      </div>
      <div class="main_buttons">
        <button @click="returnTriger=true,returnChanges()">Вернуть изменение</button>
        <button @click="returnTriger=true,abortReturnChanges()">Отменить изменение</button>
        <button @click="openModal('delete')">Удалить заметку</button>
        <button @click="openModal('closeEdit')">Отменить изменения</button>
        <button @click="saveItem()">Сохранить</button>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "listChange",
        data() {
            return {
                item: {
                    number: '',
                    name: '',
                    description: '',
                    status: false,
                    todo: [],
                    date: ''
                },
                returnTriger:false,
                item_repository:[],
                index: 0
            }
        },
        computed: {
            todoList() {
                return this.$store.state.localStorage.todoList
            }
        },
        watch: {},
        updated(){
            if(!this.returnTriger){
                this.copyItemToRep()
            }
            this.returnTriger=false
        },
        methods: {
            openModal(type){
                // открытие модалки с передачей параметра который укажет что именно в ней показывать
                this.$store.commit('toModal/setType', type)
                this.$store.commit('toModal/setIndex', this.index)
                this.$store.commit('toModal/setModalTriger', true)
            },
            returnChanges(){
                // Запись в заметку ее предыдущего состояния
                this.item = this.item_repository[this.item_repository.length-2]
            },
            abortReturnChanges(){
                // Запись в заметку ее текущего состояния
                this.item = this.item_repository[this.item_repository.length-1]
            },
            copyItemToRep(){
                // Создание копии состояния заметки для дальнейшей отмены изменений
                this.item_repository.push(JSON.parse(JSON.stringify(this.item)))
                if(this.item_repository.length >2){
                    this.item_repository.splice(0,1)
                }
            },
            removeTodoItem(index) {
                // Удаление элемента из массива to do заданий
                this.item.todo.splice(index, 1)
            },
            copyVuexVariable() {
                // Получение индекса нужного листа из адресной строки и создание глубокой копии переменной vuex
                this.index = this.$router.history.current.params.id
                this.item = JSON.parse(JSON.stringify(this.todoList[this.index]))
            },
            saveItem() {
                // Создание временной копии массива задач для дальнейшей замены старого элемента на новый(обновленный) по индексу, и сохранение его в localStorage
                let arr = []
                arr = this.todoList.slice(0, this.todoList.length)
                arr[this.index] = this.item
                this.$store.commit('localStorage/setList', arr)
                this.$router.push('/')
            },
            addItemTodo() {
                // Добавление шаблонного обекта в массив to do задач
                this.item.todo.push({description: '', status: false})
            }
        },
        mounted: function () {
            this.copyVuexVariable()
        }
    }
</script>

<style lang="scss" scoped>
  .change_item_wrapper {
    margin: 0 15%;
    padding: 15px 10px;
    background-color: #3B8070;

  .first_line {
    display: flex;
    justify-content: space-between;

  }

  .todoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }

  .name {
    margin: 20px 0;
  }

  .description {
    margin: 20px 0;
  }

  .main_buttons {
    text-align: end;
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;

  button {
    margin: 0 20px;
  }
  }
  }
</style>
