<template>
  <div class="page_wrapper">
    <div class="add_button_wrapper">
      <button @click="addItem()">Добавить новую запись</button>
    </div>
    <div class="list-wrapper">

      <div v-show="todoList.length>0">
        <div class="list_head_line">
          <div class="first_column">№</div>
          <div class="two_column">Название</div>
          <div class="three_column">Дата</div>
          <div class="five_column">Статус</div>
          <div class="six_column">Править</div>
          <div class="seven_column">Удалить</div>
        </div>
        <div v-for="(line, index) in todoList" :key="index" class="list_line">
          <div class="first_column">{{line.number}}</div>
          <div class="two_column">{{line.name}}</div>
          <div class="three_column">{{line.date}}</div>
          <div class="five_column"><input type="checkbox" disabled v-model="line.status"></div>
          <div class="six_column">
            <button @click="gotoItem(index)">Править</button>
          </div>
          <div class="seven_column">
            <button @click="deleteItem(index,'delete')">Удалить</button>
          </div>
        </div>
      </div>
      <div v-show="todoList.length==0" class="no_list">
        У вас пока нет ни одной заметки
      </div>
    </div>

  </div>
</template>

<script>
    export default {
        name: "mainPage",
        data() {
            return {
            }
        },
        computed: {
            todoList() {
                let arr = []
                if(this.$store.state.localStorage.todoList != null){
                    arr =this.$store.state.localStorage.todoList
                }
                return arr
            }
        },
        methods: {
            deleteItem(index, type){
                // открытие модального окна с передачей типа модального окна и индекса элемента в массиве
                this.$store.commit('toModal/setIndex', index)
                this.$store.commit('toModal/setType', type)
                this.$store.commit('toModal/setModalTriger', true)
            },
            gotoItem(index) {
                // переход на страницу правки задания с установкой в урл индекса листа
                this.$router.push(`/list/${index}`)
            },
            addItem() {
                // Добавление элемента списка(пустого шаблона) и переход на страницу его редактирования
                let arr = []
                arr = this.todoList.slice(0,this.todoList.length)
                arr.unshift({
                    number: this.todoList.length +1,
                    name: '',
                    date: '',
                    todo: [{description:'',status:false}],
                    status: false
                })
                this.$store.commit('localStorage/setList', arr)
                this.gotoItem(0)
            }
        }
    }
</script>

<style scoped>

</style>
