<template>
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 v-if="type_modal === 'delete'" class="modal-title">Вы действительно хотите удалить запись?</h3>
          <h3 v-else class="modal-title">Вы действительно хотите выйти без сохранения??</h3>
        </div>
        <div class="modal-body">
          <button @click="doAction">Да</button>
          <button @click="closeModal">Нет</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: "delete",
        computed: {
            type_modal() {
                return this.$store.state.toModal.type_modal
            }
        },
        methods: {
            closeModal() {
                this.$store.commit('toModal/setIndex', undefined)
                this.$store.commit('toModal/setModalTriger', false)
            },
            doAction() {
                if (this.type_modal === 'delete') {
                    this.$store.dispatch('toModal/delItem')
                } else {
                    this.$router.push('/')
                    this.$store.commit('toModal/setModalTriger', false)
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
  .modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);;
    width: 100%;
    height: 100%;

    .modal-dialog {
      background-color: white;
      height: 200px;
      margin: 200px 30%;
      padding: 20px;
      text-align: center;
    }

    .modal-body {
      margin-top: 50px;

      button {
        margin: 20px;
      }
    }
  }
</style>
