<template>
  <div>
    <header>
      <modal v-if="modal"></modal>
<div class="nav-bar">
  <button @click="goToMain">На главную</button>
</div>

    </header>
    <nuxt/>
  </div>
</template>
<script>
    import modal from "../components/modal";
    export default {

        components: {modal},

        head() {
        },
        data() {
            return {

            };
        },
        computed: {
        modal(){
            return this.$store.state.toModal.modal_triger
        }
        },

        mounted: function () {
        },
        watch: {},
        commands: {},
        methods: {
        goToMain(){
            this.$router.push('/')
        }
        }
    }
</script>
<style lang="scss">
.nav-bar{
  background-color: #88adbb;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 15%;
  button{
    padding: 5px 10px;
    background-color: #6298d0;
    color: white;
    border-radius: 5px;
  }
}
</style>

