<template>
  <div>
<list-change></list-change>
  </div>
</template>

<style  scoped>

</style>

<script>
import listChange from "../../../components/listChange";
    export default {
        layout: "default",
        components:{listChange}

    }
</script>
