<template>
  <div>
<main-page></main-page>
  </div>
</template>

<script>
import mainPage from "../components/mainPage";

    export default {
        components: {mainPage},
    }
</script>

<style lang="scss">
  .page_wrapper {
    margin: 0 15%;

    .add_button_wrapper {
      margin: 5px 0;
    }

    .list-wrapper {
      padding: 10px 15px;
      background-color: #3B8070;

      .first_column {
        width: 40px;
      }

      .two_column {
        width: 80px;
      }

      .three_column {
        width: 80px;
      }

      .four_column {
        width: 350px;
        overflow: hidden;
        height: 40px;
      }

      .five_column {
        width: 80px;
      }

      .six_column {
        width: 80px;
      }
      .seven_column {
        width: 80px;
        button{
          background-color: red;
          color: white;
        }
      }

      .list_head_line {
        color: white;
        display: flex;
        justify-content: space-between;
      }

      .list_line {
        color: white;
        display: flex;
        padding: 8px 0;
        justify-content: space-between;
      }

      .no_list {
        text-align: center;
      }
    }
  }


</style>
